/*general styling*/
* {
	margin: auto;
	padding: 0;
	font-family: 'Lato', sans-serif;
} 

.upperPanel {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}

.logo {
	width: 100px;
	cursor: pointer;
}

.search {
	width: 26.5px;
	cursor: pointer;
}

.searcharea input {
	height: 30px;
	color: #1f4c73;
}

.searcharea{
	height: 15vh;
	display: flex;
}

form.searcharea input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #1f4c73;
  float: left;
  width: 80%;
  background: white;
}

form.searcharea button {
  float: left;
  width: 20%;
  padding: 10px;
  background: white;
  font-size: 17px;
  border: 1px solid #1f4c73;
  border-left: none;
  cursor: pointer;
}

form.searcharea button:hover {
  background: #1f4c73;
}

.profile {
	cursor: pointer;
	height: 46px;
	width: 43px;
	border-color: lightgrey;
	display: flex;
	background-color: white;
}
 .profile:hover {
    background: lightgrey;
 }
/*form.searcharea::after {
  content: "";
  clear: both;
  display: table;
}*/

.navbar {
  overflow: hidden; 
  color: #1f4c73;
  z-index: 1; /*show menu above content*/
  margin: auto;
}

/*unnested menu parts*/
.navbar a {
  float: left;
  font-size: 16px;
  color: #1f4c73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.subnav {
  float: left;
  overflow: hidden;
}

/*nested menu parts*/
.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #1f4c73;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: white;
  border: solid #1f4c73;
  border-radius: 20px;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #1f4c73;
  border-radius: 20px; 
 }

.subnav-content a {
  color: white;
}

.subnav-content a:hover {
  background-color: lightgrey;
  color: #1f4c73;
}

.subnav:hover .subnav-content {
  display: grid;
}

.mainpic {
  margin-top: 20px;
  position: relative;
  text-align: center;
  color: white;
  width:900px;
  height: 600px;
  z-index: -1;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px #1f4c73;
}

.social {
	font-size: 14px;
}

header {
	height: 2.5cm;
	background-color: lightgrey;
}

footer {
	margin-top: 20px;
	text-decoration: none;
	display: flex;
	height: 4cm;
	background-color: lightgrey;
	color: #1f4c73;
}
#subscribe {
  background-color: #1f4c73;
  color: lightgrey;
  padding: 2px 2px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}
#subscribe:hover {
  background:white;
  color: #1f4c73;
  cursor: pointer;
/*  border-radius: 20px;*/
}

#register {
    visibility: hidden;
    background: #1f4c73;
    padding:10px 20px 10px 20px;
    width: 800px;
    height: 450px;
    border-radius: 20px;
    font-size: 30px;
    margin: auto;
    margin-top: 15px;
    opacity: 0.95;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    }

#register h1 {
	font-weight: bold;
	margin: 0;
}

#register p {
	font-size: 14;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#register span {
	font-size: 12px;
}

#register a {
	color: blue;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
 
#register .container {
	background: white;
	border-radius: 10px;
	box-shadow: 0 14px 28px red, 0 10px 10px pink;
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}



